.list-container
  width 100%
  overflow hidden
  z-index 9
  position fixed
  top 46px
  border-bottom 1px solid skyblue
  box-shadow 0 2px 8px skyblue
  .ant-menu
    // background skyblue
  .ant-menu-submenu-title
  i
    margin-right 15px
  .transition
    height 0
    &.slide-enter
      transition all .2s ease-out
    &.slide-enter-active
      height 180px
    &.slide-exit
      transition all .2s ease-out
    &.slide-exit-active
      height 0
  .spread
    height 180px