.back-container
  width 100%
  position fixed
  top 46px
  left 0
  right 0
  bottom 0
  z-index -1
  background url(http://ww1.sinaimg.cn/large/006lIpJvgy1g1pun4oeh7j31hc0xch7j.jpg)
  background-size cover
  background-repeat no-repeat
  // background-attachment fixed
  background-position 0 60%